.tender-information {
  h3 {
    text-align: center;
  }

  p {
    margin: 10px 0px 5px 0px;
  }

  .form-add-listing {

    // text-align: center;
    .MuiTextField-root {
      width: 25ch;
      // margin: 8px !important;
    }

    .MuiFormControl-root {
      width: 100%;
      // margin: 8px !important;
    }
  }

  .country-select .ReactFlagsSelect-module_selectBtn__19wW7 {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    background: white !important;
    padding: 12px !important;
  }

  .ReactFlagsSelect-module_flagsSelect__2pfa2 {
    padding-bottom: 0px !important;
  }

  .form-add-news {
    margin-top: 50px !important;
  }

  .hr-spv {
    margin-top: 100px;
  }

  span {
    font-size: 15px;
  }

  .add-listing-btn {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.news-area {
  min-height: 800px;
  background-color: #e5e5e5;
}

.Mui-focused fieldset {
  border-color: #7e7e7e !important;
}

label.Mui-focused {
  color: #7e7e7e !important;
}

.project-information {
  .item-project {
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0.5px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(245, 245, 245);
    margin-bottom: 20px;

    .remove-project {
      cursor: pointer;
      margin-top: -9px;
      font-style: oblique;
      position: absolute;
      color: black;
      font-size: 18px;
    }
  }

  .specially {
    width: 60ch !important;
  }

  .item-file {
    display: flex;
    justify-content: space-between;

    p {
      text-align: left;
      font-style: italic;
    }

    h3 {
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .add-another {
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    img {
      margin-right: 5px;
      width: 30px;
    }
  }

  .save-asset {
    justify-content: space-evenly;
  }

  .btn-save-asset {
    color: #4d4d4d;
    padding: 10px;
    font-size: 13px;
    text-transform: none;
  }

  .add-asset-btn {
    span {
      margin-right: 0px;
    }
  }

  .file-information {
    display: flex;
    margin-top: 20px;
  }
}

.list-asset {
  margin-top: 25px;
  background: #d6d3d3;
  padding: 25px;

  .remove-asset {
    margin-top: 25px !important;
    margin-left: 60px;
  }

  @media only screen and (max-width: 768px) {
    .remove-asset {
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
  }
}

.no-project {
  text-align: center;
  margin-top: 20px;
}

.btn-custom-next {
  margin: 20px;
  text-align: center;

  span {
    margin-right: 0px;
  }

}

.MuiTableBody-root .MuiTableRow-root .MuiTableCell-alignLeft span p {
  text-transform: lowercase;
}

.custom-image {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .list-spv {
    margin-top: 0px !important;
  }
}

@media only screen and (min-width: 768px) {
  .list-spv {
    margin-top: 0px !important;
  }

  .container {
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 968px) {
  .listing-card-img {
    margin-right: 0px;
  }

  .listing-right-section {
    margin-left: 0px;
  }

  .listing-right-section h5 {
    font-size: 1rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 968) {
  .container {
    max-width: 90% !important;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 90% !important;
  }
}

.custom-stepper-add-spv {
  .MuiStepper-horizontal {
    width: 60%;
    margin: 0 auto;
  }

  .btn-stepper {
    display: flex;
    justify-content: center;

    span {
      margin-right: 0px;
    }
  }
}

.MuiOutlinedInput-root {
  border-radius: 0% !important;
  -webkit-border-radius: 0% !important;
  -moz-border-radius: 0% !important;
  -ms-border-radius: 0% !important;
  -o-border-radius: 0% !important;
  margin: 0 !important;
}

.form-text-input {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

.btn-add-more {
  text-align: center;

  .btn-custom {
    margin: 15px;
    padding: 10px 35px;
  }
}

.react-tabs__tab-panel--selected {
  min-height: 300px;
}

.MuiStepLabel-labelContainer {
  text-align: center;
}

.MuiTypography-h6 {
  text-align: center !important;
}

.btn-finnish {
  position: relative;
}

.MuiCircularProgress-colorPrimary {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

@media only screen and (max-width: 500px) {
  .custom-stepper-add-spv .MuiStepper-horizontal {
    width: 100% !important;
  }

  .MuiStepper-root {
    padding: 20px 0px !important;
  }

  .full {
    width: 50ch !important;
  }
}

@media only screen and (max-width: 375px) {
  .full {
    width: 40ch !important;
  }

  .project-information .specially {
    width: 55ch !important;
  }
}

@media only screen and (max-width: 320px) {
  .project-information .specially {
    width: 50ch !important;
  }
}

.MuiTableRow-root.Mui-selected {
  background-color: #a6d4fa !important;
}

// Profile section

.personal-information {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.profile-overview-header-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  bottom: 0 !important;
}

.personal-information {
  .panel-card {
    width: 48%;
    height: auto;
  }

  p {
    margin-bottom: 0;
  }
}

.profile-update-button {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
  font-weight: bold !important;
}

@media only screen and (max-width: 768px) {
  .personal-information {
    flex-direction: column;
  }

  .personal-information {
    .panel-card {
      width: 100%;
    }
  }

  .membership-information {
    margin-top: 15px;
  }
}

// Article Editor

.ql-editor {
  min-height: 500px;
}

.ql-formats {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.ql-snow.ql-toolbar button {
  height: 26px;
}

.article-page {
  background-color: rgb(233, 233, 233);
  padding: 25px 0px;
}

.article-content {
  padding: 30px;
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.article-title {
  text-align: center;
  color: black;
}

.article-title h2 {
  border: 5px solid #0d1240;
  padding: 20px;
}

.article-title h2 {
  color: black;
}

.search-container {}

.search-results {
  // margin-top: -10px !important;
  padding: 3px;
  background-color: white;
  position: absolute;
  width: inherit;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.search-results-item {
  margin: 0 !important;
  padding: 5px;
  cursor: pointer;
}

.search-results-item:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.required-user {
  min-height: 100vh;
  background-color: rgb(241, 241, 241);
  padding: 50px 0px;
}

.user-register-alert {
  background-color: white;
  box-shadow: 5px 5px 5px rgb(108 118 134 / 8%);
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.trial-expired {
  text-align: center;
}

.pricing-area {
  background-color: rgb(241, 241, 241);
}

.subscription-plans {
  background-color: white;
  padding: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.tender-listing-short-detail a {
  font-size: 17px;
  text-decoration: underline;
}

.tender-listing-categories p {
  font-weight: bold;
  // padding: 5px;
  margin-top: 5px;
}

.tender-detail-blocks {
  padding: 5px;
  background-color: #008cba;
  margin-top: 5px;
  margin-right: 5px;
  color: white;
  font-weight: bold;
}

.tender-listing-categories {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.tender-listing-posted-date {
  display: flex;
  // flex-direction: column;
  text-align: center;
}

.tender-listing-posted-date p {
  line-height: 1.2;
  font-weight: bold;
  padding-right: 5px;
  margin-bottom: 0px;
}

.default-btn-red {
  background-color: #f04124;
  border: 1px solid #b8321a;
}

.default-btn-red:hover {
  border: 1px solid #b8321a;
}

@media screen and (max-width: 555px) {
  .all-tenders-content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .container {
    max-width: 95% !important;
  }

  .MuiTableCell-root {
    padding: 7px !important;
  }

  .tender-listing-short-detail a {
    font-size: 14px;
  }

  .tender-detail-blocks {
    padding: 3px;
    background-color: #008cba;
    margin-top: 3px;
    margin-right: 3px;
    color: white;
    font-weight: bold;
  }

  .tender-listing-posted-date {
    display: flex;
    flex-direction: column;
  }

  .tender-listing-posted-date p {
    padding-right: 0;
  }
}

.jss16 {
  height: auto;
}

.add-title {
  padding: 16px;
  background-color: #e6f1f5;
  border-radius: 8px;
  overflow: hidden;

  h2 {
    color: rgb(46, 44, 44);
    font-weight: normal;
    font-size: xx-large;
  }
}

.add-category {
  padding: 16px;
  border-radius: 8px;
  height: 150px;
  background-color: #e6f1f5;
  overflow: hidden;

  p {
    margin: 0;
  }

  .font-bold {
    font-weight: bold;
    color: rgb(46, 44, 44);
  }
}

.edit-pl20 {
  padding: 16px;
}

.edit-bacground {
  background-color: #e6f1f5;
  border-radius: 8px;
  padding: 16px;
}

@media only screen and (max-width: 959px) {
  .edit-pl20 {
    padding: 0px;
  }
}


// .MuiFormControl-root jss12{
//   width: 142px;
// }